<div class="d-flex flex-column text-center">
  <a href="/profile">
    <img
      class="logo-image"
      src="imgs/recipes-recipe-svgrepo-com.svg"
      alt="Bubbas Recipes Logo"
    />
  </a>
  <p class="m-0 mt-2 text-bub">
    Store and share your favorite recipes with the world.
  </p>
</div>
