<div class="d-flex flex-column text-center">
  <a href="/profile">
    <img class="logo-image" src="imgs/b.ubbas.png" alt="Binary Upload Boom Logo" />
  </a>
  <p class="m-0 mt-2 text-bub">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
</div>
