@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --bub-color: #000000;
  --white: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000000;
  color: white;
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo-image {
  max-width: 300px;
  width: 100%;
}

.profile-pic-container {
  width: 200px;
  height: 200px;
  padding-bottom: 20px;

}

.profile-pic-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

.btn {

  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'PP Pangram Sans Rounded', Arial, Helvetica, sans-serif;
  background: #000000;
}

form.col-1:nth-child(3)>button:nth-child(1) {
  margin: auto;
}

.post-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #000000;
}

.fw-bold {
  color: #4920ef;
  ;
  font-family: 'PP Pangram Sans Rounded', Arial, Helvetica, sans-serif;
}

.post-card {
  width: 800px;
  max-width: 90vw;
  margin: 10px 0;
  overflow: hidden;
  background: #000000;
}

.card-img-container {
  background: #000000;
}

.post-card img {
  width: 100%;
  max-height: 400px;
  aspect-ratio: 1;
  object-fit: contain;
}

.card-text-container {
  padding: 1rem;
  background: #000000;
}

.card-text-container p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  background: #000000;
}

.navbar {
  background-color: var(--bub-color);
}

.navbar a {
  text-decoration: none;
  color: var(--white);
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.navbar li {
  margin-left: 20px;
  font-family: 'PP Pangram Sans Rounded', 'Roboto', 'Inter', Arial, Helvetica, sans-serif;
}

.mb-0 {
  font-family: 'PP Pangram Sans Rounded', 'Roboto', Arial, Helvetica, sans-serif;

}

.text-bub {
  color: #E5C15B;
  font-family: 'PP Pangram Sans Rounded', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.navbar img {
  width: 50px;

}

.card {
  overflow: hidden;
  background: #000000;
}

.profile-title {
  background-color: var(--bub-color);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-family: 'PP Pangram Sans Rounded', 'Futura', 'Roboto', sans-serif;

}

.likes-card {
  max-width: 600px;
  background: #000000;

}

.bn30 {
  margin: 2em auto;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: .2% .2% 2% rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 2%;
  top: 2%;
  left: 2%;
  bottom: 2%;
  right: 2%;
  z-index: -1;

}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 4% 4% rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

div.col-6:nth-child(1)>form:nth-child(5)>input:nth-child(1) {
  margin: 0.5em;
}

input {
  background-color: rgb(255, 255, 255);
  color: #000;
}

/*Media Query*/
@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 20px 5px;
  }
}